@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic);

@default: 'PT Serif Caption', serif;

//Colors
@white:#ffffff;
@gray:#5d5d5f;
@gray2:#d3d6dc;
@light-gray:#f6f7f8;
@yellow:#ffd700;


//mixins

.rounded(@radius: 5px){
    -moz-border-radius:@radius; /* Firefox */  
    -webkit-border-radius:@radius; /* Safari and chrome */ 
    -khtml-border-radius:@radius; /* Linux browsers */  
    border-radius:@radius; /* CSS3 */    
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  /* All browsers */
    behavior: url(../PIE.php);
}

.mp0(@mp0: 0px){
    margin: @mp0;
    padding: @mp0;
}

.gradient(@color: #008b82, @start: #008b82, @end: #00a89c){
    background: @color; /*fallback for non-CSS3 browsers*/
    background: linear-gradient(@start, @end); /*future CSS3 browsers*/
    -pie-background: linear-gradient(@start, @end); /*PIE*/
    behavior: url(../PIE.php);
}

.shadow-bottom(@color: #ffffff){
    -webkit-box-shadow: 0 0.25em 0.1em -2px @color;
    -moz-box-shadow: 0 0.25em 0.1em -2px @color;
    box-shadow: 0 0.25em 0.1em -2px @color;    
}

.no-shadow(){
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    -moz-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;    
}