html{
    .mp0();
}
a{
	color: @gray;
    text-decoration: none;
}
a:hover{
    color: @gray;
    text-decoration: none;
}

body{
	background-color: @white;
    font-family: @default;
    font-size: 14px;
    color: @gray;
    text-align: center;
}
p{
	font-family:@default; 
	font-weight: normal;
	margin: 0.5em 0;
	line-height: 1.2em;
}

//Headers

h1, h2, h3, h4, h5, h6{
	font-family: @default;
	font-weight: 600;
}
h1{
	font-size: 2.5em;
}
h2{
	font-size:2em;
}
h3{
	font-size:1.7em;
}

//Global styles

.inner{
	width: 100%;
	margin: 0 auto;
	/*overflow: hidden;*/
	clear: both;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}

.nocomments{
	display: none;
}

//Layout

#wrapper{
	margin: auto;
	width: 100%;
	max-width: 850px;

	header#header{
		h1{
			text-align: center;
		}
		h2{
			font-weight: normal;
			border-bottom: 2px solid @yellow;
			display: inline;
		}
		.textwidget{
			margin: 2em 0;
			font-size: 1.3em;
		}
	}
	.content-area{
		overflow: hidden;
		background-color: @light-gray;
		ul{
			margin: 2em;
			li{
				line-height: 1.5em;
			}
		}
		p{
			line-height: 1.5em;
		}		
		#content{
			text-align: left;
			padding: 0 2em 1em;
			article{
				display: inline-block;
				text-align: left;
				width: 100%; 

				header{
					h1{
						margin: 0 0 0.5em 0;
					}
				}
				.entry-content{
					margin: 1em 0;
				}
				footer{
					.commentlist{
						padding: 2em 0;
						overflow-y: scroll;
						/*height: 350px;  */
						li{
							list-style: none;
							border-bottom: 1px solid @gray2;
							padding: 2em 0;
							&:first-child{
								border-top: 1px solid @gray2;
							}
							.comment-meta{
								padding-bottom: 0.3em;
							}
						}
					}
					#commentform{
						label{
							display: none;
						}
						input[type="text"]{
							display: none;
						}						
						#comment{
							width: 97%;
							height: 80px;
							border : 1px solid @gray2;
							padding: 1em;
							font-family: @default;
							font-size: 0.9em;
							color: @gray;
						}
						#submit{
							padding: 0.6em 2em;
							color: @white;
							background: @gray;
							border: none;
							font-weight: 600;
							font-family: @default;
						}
					}
				}
			}
			.archive-header-category{
				padding-right: 5em;
				h1{
					font-size: 2.5em;
					margin: 0.5em 0;
    				padding: 0.5em 0;
				}
			}
			#content-category{
				article{
					header{
						h1{
							font-size: 1.5em;
						}
					}
					img{
						width: 100%;
						height: 100%;
					}
					aside{
						p{
							padding-left: 0.3em;
						}
					}
					.read-more{
						display: inline-block;
						padding: 0 0 1em 0.4em;
						font-weight: 600;
					}
				}				
			}
			.wp-pagenavi {
			    margin: 3em 0;
			}
			#searchform{
				height: 70px;
				padding: 0px;
				margin-top: 8px;
				width: 50%;

				#s{
					border: none;
					color: @white;
					float: left;
					line-height: 38px;
					height: 40px;
					margin: 4px 5px 0px 0px;
					width: 80%;
					padding-left: 2em;
					font-size: 18px;
					font-weight: bold;
					font-style: italic;
					.rounded(20px);
				}
				#searchsubmit{
					border:none;
					height: 53px;
					margin: 0px;
					width: 53px;
					cursor: pointer;
				}
			}
		}
		#secondary,#sidebar{
			margin-top: 2em;
			li{
				list-style-type: none;
				margin-bottom: 0.3em;
    			padding-bottom: 0.3em;
    			border-bottom: 0.1em solid #d5d5d5;
				&:last-child{
					border-bottom: none;
				}        			
			}
			.widgettitle{
				font-size: 2em;
				margin-top: 1em;
			}
			ul{
				margin: 1em 0 0.5em 0;
				text-align: left;
			}
			#searchform{
				height: 70px;
				padding: 0px;
				margin-top: 8px;
				width: 50%;

				#s{
					border: none;
					color: @white;
					float: left;
					line-height: 38px;
					height: 40px;
					margin: 4px 5px 0px 0px;
					width: 80%;
					padding-left: 2em;
					font-size: 18px;
					font-weight: bold;
					font-style: italic;
					.rounded(20px);
				}
				#searchsubmit{
					border:none;
					height: 53px;
					margin: 0px;
					width: 53px;
					cursor: pointer;
				}
			}		
		}
	}
	footer#footer{
		margin-top: 2em;
		h2{
			font-weight: normal;
			border-bottom: 2px solid @yellow;
			display: inline;
		}
		#footer-logo{
			margin: 2em 0;
		}
		ul{
			.mp0();
			li{
				list-style: none;
				display: inline;
				background: url("images/icons.png") no-repeat;
				display: inline-block;
				height: 51px;
				text-indent: -9999px;
				padding: 0px 2px;
				width: 50px;
				a{
					height: 51px;
					text-indent: -9999px;
					padding: 0px 2px;
					width: 50px;
					display: block;						
				}
				&.facebook{
					background-position: 0px 0px;
					&:hover{
						background-position: 0px 0px;
					}
				}
				&.twitter{
					background-position: -53px 0;
					&:hover{
						background-position: -53px 0;
					}
				}
				&.google{
					background-position: -100px 0;
					&:hover{
						background-position: -100px 0;
					}
				}
			}
		}
	}	
	 
}

@media only screen and (max-width: 1400px) {
	.inner{
		#home-content{
			width: 100%;
		}
	}
}