@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic);
/* html5reset.css - 01/11/2011 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
p {
  margin: 0;
}
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */

}
/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 0;
  text-align: left;
}
.col:first-child {
  margin-left: 0;
}
/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWO   ============================================================================= */
.span_2_2 {
  width: 100%;
}
.span_1_2 {
  width: 49.2%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_2_2 {
    width: 100%;
  }
  .span_1_2 {
    width: 100%;
  }
}
/*  GRID OF THREE   ============================================================================= */
.span_3_3 {
  width: 100%;
}
.span_2_3 {
  width: 66.66%;
}
.span_1_3 {
  width: 33.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_3_3 {
    width: 100%;
  }
  .span_2_3 {
    width: 100%;
  }
  .span_1_3 {
    width: 100%;
  }
}
/*  GRID OF FOUR   ============================================================================= */
.span_4_4 {
  width: 100%;
}
.span_3_4 {
  width: 75%;
}
.span_2_4 {
  width: 50%;
}
.span_1_4 {
  width: 25%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_4_4 {
    width: 100%;
  }
  .span_3_4 {
    width: 100%;
  }
  .span_2_4 {
    width: 100%;
  }
  .span_1_4 {
    width: 100% !important;
  }
}
/*  GRID OF FIVE   ============================================================================= */
.span_5_5 {
  width: 100%;
}
.span_4_5 {
  width: 80%;
}
.span_3_5 {
  width: 60%;
}
.span_2_5 {
  width: 40%;
}
.span_1_5 {
  width: 20%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_5_5 {
    width: 100%;
  }
  .span_4_5 {
    width: 100%;
  }
  .span_3_5 {
    width: 100%;
  }
  .span_2_5 {
    width: 100%;
  }
  .span_1_5 {
    width: 100%;
  }
}
/*  GRID OF SIX   ============================================================================= */
.span_6_6 {
  width: 100%;
}
.span_5_6 {
  width: 83.33%;
}
.span_4_6 {
  width: 66.66%;
}
.span_3_6 {
  width: 50%;
}
.span_2_6 {
  width: 33.33%;
}
.span_1_6 {
  width: 16.66%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_6_6 {
    width: 100%;
  }
  .span_5_6 {
    width: 100%;
  }
  .span_4_6 {
    width: 100%;
  }
  .span_3_6 {
    width: 100%;
  }
  .span_2_6 {
    width: 100%;
  }
  .span_1_6 {
    width: 100%;
  }
}
/*  GRID OF SEVEN   ============================================================================= */
.span_7_7 {
  width: 100%;
}
.span_6_7 {
  width: 85.48%;
}
.span_5_7 {
  width: 70.97%;
}
.span_4_7 {
  width: 56.45%;
}
.span_3_7 {
  width: 41.94%;
}
.span_2_7 {
  width: 27.42%;
}
.span_1_7 {
  width: 12.91%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_7_7 {
    width: 100%;
  }
  .span_6_7 {
    width: 100%;
  }
  .span_5_7 {
    width: 100%;
  }
  .span_4_7 {
    width: 100%;
  }
  .span_3_7 {
    width: 100%;
  }
  .span_2_7 {
    width: 100%;
  }
  .span_1_7 {
    width: 100%;
  }
}
/*  GRID OF EIGHT   ============================================================================= */
.span_8_8 {
  width: 100%;
}
.span_7_8 {
  width: 87.3%;
}
.span_6_8 {
  width: 74.6%;
}
.span_5_8 {
  width: 61.9%;
}
.span_4_8 {
  width: 49.2%;
}
.span_3_8 {
  width: 36.5%;
}
.span_2_8 {
  width: 23.8%;
}
.span_1_8 {
  width: 11.1%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_8_8 {
    width: 100%;
  }
  .span_7_8 {
    width: 100%;
  }
  .span_6_8 {
    width: 100%;
  }
  .span_5_8 {
    width: 100%;
  }
  .span_4_8 {
    width: 100%;
  }
  .span_3_8 {
    width: 100%;
  }
  .span_2_8 {
    width: 100%;
  }
  .span_1_8 {
    width: 100%;
  }
}
/*  GRID OF NINE   ============================================================================= */
.span_9_9 {
  width: 100%;
}
.span_8_9 {
  width: 88.71%;
}
.span_7_9 {
  width: 77.42%;
}
.span_6_9 {
  width: 66.13%;
}
.span_5_9 {
  width: 54.84%;
}
.span_4_9 {
  width: 43.55%;
}
.span_3_9 {
  width: 32.26%;
}
.span_2_9 {
  width: 20.97%;
}
.span_1_9 {
  width: 9.68%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_9_9 {
    width: 100%;
  }
  .span_8_9 {
    width: 100%;
  }
  .span_7_9 {
    width: 100%;
  }
  .span_6_9 {
    width: 100%;
  }
  .span_5_9 {
    width: 100%;
  }
  .span_4_9 {
    width: 100%;
  }
  .span_3_9 {
    width: 100%;
  }
  .span_2_9 {
    width: 100%;
  }
  .span_1_9 {
    width: 100%;
  }
}
/*  GRID OF TEN   ============================================================================= */
.span_10_10 {
  width: 100%;
}
.span_9_10 {
  width: 90%;
}
.span_8_10 {
  width: 80%;
}
.span_7_10 {
  width: 70%;
}
.span_6_10 {
  width: 60%;
}
.span_5_10 {
  width: 50%;
}
.span_4_10 {
  width: 40%;
}
.span_3_10 {
  width: 30%;
}
.span_2_10 {
  width: 20%;
}
.span_1_10 {
  width: 10%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_10_10 {
    width: 100%;
  }
  .span_9_10 {
    width: 100%;
  }
  .span_8_10 {
    width: 100%;
  }
  .span_7_10 {
    width: 100%;
  }
  .span_6_10 {
    width: 100%;
  }
  .span_5_10 {
    width: 100%;
  }
  .span_4_10 {
    width: 100%;
  }
  .span_3_10 {
    width: 100%;
  }
  .span_2_10 {
    width: 100%;
  }
  .span_1_10 {
    width: 100%;
  }
}
/*  GRID OF ELEVEN   ============================================================================= */
.span_11_11 {
  width: 100%;
}
.span_10_11 {
  width: 90.76%;
}
.span_9_11 {
  width: 81.52%;
}
.span_8_11 {
  width: 72.29%;
}
.span_7_11 {
  width: 63.05%;
}
.span_6_11 {
  width: 53.81%;
}
.span_5_11 {
  width: 44.58%;
}
.span_4_11 {
  width: 35.34%;
}
.span_3_11 {
  width: 26.1%;
}
.span_2_11 {
  width: 16.87%;
}
.span_1_11 {
  width: 7.63%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_11_11 {
    width: 100%;
  }
  .span_10_11 {
    width: 100%;
  }
  .span_9_11 {
    width: 100%;
  }
  .span_8_11 {
    width: 100%;
  }
  .span_7_11 {
    width: 100%;
  }
  .span_6_11 {
    width: 100%;
  }
  .span_5_11 {
    width: 100%;
  }
  .span_4_11 {
    width: 100%;
  }
  .span_3_11 {
    width: 100%;
  }
  .span_2_11 {
    width: 100%;
  }
  .span_1_11 {
    width: 100%;
  }
}
/*  GRID OF TWELVE   ============================================================================= */
.span_12_12 {
  width: 100%;
}
.span_11_12 {
  width: 91.53%;
}
.span_10_12 {
  width: 83.06%;
}
.span_9_12 {
  width: 74.6%;
}
.span_8_12 {
  width: 66.13%;
}
.span_7_12 {
  width: 57.66%;
}
.span_6_12 {
  width: 49.2%;
}
.span_5_12 {
  width: 40.73%;
}
.span_4_12 {
  width: 32.26%;
}
.span_3_12 {
  width: 23.8%;
}
.span_2_12 {
  width: 15.33%;
}
.span_1_12 {
  width: 6.86%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_12 {
    width: 100%;
  }
  .span_11_12 {
    width: 100%;
  }
  .span_10_12 {
    width: 100%;
  }
  .span_9_12 {
    width: 100%;
  }
  .span_8_12 {
    width: 100%;
  }
  .span_7_12 {
    width: 100%;
  }
  .span_6_12 {
    width: 100%;
  }
  .span_5_12 {
    width: 100%;
  }
  .span_4_12 {
    width: 100%;
  }
  .span_3_12 {
    width: 100%;
  }
  .span_2_12 {
    width: 100%;
  }
  .span_1_12 {
    width: 100%;
  }
}
html {
  margin: 0px;
  padding: 0px;
}
a {
  color: #5d5d5f;
  text-decoration: none;
}
a:hover {
  color: #5d5d5f;
  text-decoration: none;
}
body {
  background-color: #ffffff;
  font-family: 'PT Serif Caption', serif;
  font-size: 14px;
  color: #5d5d5f;
  text-align: center;
}
p {
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  margin: 0.5em 0;
  line-height: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif Caption', serif;
  font-weight: 600;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.7em;
}
.inner {
  width: 100%;
  margin: 0 auto;
  /*overflow: hidden;*/

  clear: both;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.alignnone {
  float: none;
}
.nocomments {
  display: none;
}
#wrapper {
  margin: auto;
  width: 100%;
  max-width: 850px;
}
#wrapper header#header h1 {
  text-align: center;
}
#wrapper header#header h2 {
  font-weight: normal;
  border-bottom: 2px solid #ffd700;
  display: inline;
}
#wrapper header#header .textwidget {
  margin: 2em 0;
  font-size: 1.3em;
}
#wrapper .content-area {
  overflow: hidden;
  background-color: #f6f7f8;
}
#wrapper .content-area ul {
  margin: 2em;
}
#wrapper .content-area ul li {
  line-height: 1.5em;
}
#wrapper .content-area p {
  line-height: 1.5em;
}
#wrapper .content-area #content {
  text-align: left;
  padding: 0 2em 1em;
}
#wrapper .content-area #content article {
  display: inline-block;
  text-align: left;
  width: 100%;
}
#wrapper .content-area #content article header h1 {
  margin: 0 0 0.5em 0;
}
#wrapper .content-area #content article .entry-content {
  margin: 1em 0;
}
#wrapper .content-area #content article footer .commentlist {
  padding: 2em 0;
  overflow-y: scroll;
  /*height: 350px;  */

}
#wrapper .content-area #content article footer .commentlist li {
  list-style: none;
  border-bottom: 1px solid #d3d6dc;
  padding: 2em 0;
}
#wrapper .content-area #content article footer .commentlist li:first-child {
  border-top: 1px solid #d3d6dc;
}
#wrapper .content-area #content article footer .commentlist li .comment-meta {
  padding-bottom: 0.3em;
}
#wrapper .content-area #content article footer #commentform label {
  display: none;
}
#wrapper .content-area #content article footer #commentform input[type="text"] {
  display: none;
}
#wrapper .content-area #content article footer #commentform #comment {
  width: 97%;
  height: 80px;
  border: 1px solid #d3d6dc;
  padding: 1em;
  font-family: 'PT Serif Caption', serif;
  font-size: 0.9em;
  color: #5d5d5f;
}
#wrapper .content-area #content article footer #commentform #submit {
  padding: 0.6em 2em;
  color: #ffffff;
  background: #5d5d5f;
  border: none;
  font-weight: 600;
  font-family: 'PT Serif Caption', serif;
}
#wrapper .content-area #content .archive-header-category {
  padding-right: 5em;
}
#wrapper .content-area #content .archive-header-category h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
  padding: 0.5em 0;
}
#wrapper .content-area #content #content-category article header h1 {
  font-size: 1.5em;
}
#wrapper .content-area #content #content-category article img {
  width: 100%;
  height: 100%;
}
#wrapper .content-area #content #content-category article aside p {
  padding-left: 0.3em;
}
#wrapper .content-area #content #content-category article .read-more {
  display: inline-block;
  padding: 0 0 1em 0.4em;
  font-weight: 600;
}
#wrapper .content-area #content .wp-pagenavi {
  margin: 3em 0;
}
#wrapper .content-area #content #searchform {
  height: 70px;
  padding: 0px;
  margin-top: 8px;
  width: 50%;
}
#wrapper .content-area #content #searchform #s {
  border: none;
  color: #ffffff;
  float: left;
  line-height: 38px;
  height: 40px;
  margin: 4px 5px 0px 0px;
  width: 80%;
  padding-left: 2em;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  -moz-border-radius: 20px;
  /* Firefox */
  -webkit-border-radius: 20px;
  /* Safari and chrome */
  -khtml-border-radius: 20px;
  /* Linux browsers */
  border-radius: 20px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper .content-area #content #searchform #searchsubmit {
  border: none;
  height: 53px;
  margin: 0px;
  width: 53px;
  cursor: pointer;
}
#wrapper .content-area #secondary,
#wrapper .content-area #sidebar {
  margin-top: 2em;
}
#wrapper .content-area #secondary li,
#wrapper .content-area #sidebar li {
  list-style-type: none;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 0.1em solid #d5d5d5;
}
#wrapper .content-area #secondary li:last-child,
#wrapper .content-area #sidebar li:last-child {
  border-bottom: none;
}
#wrapper .content-area #secondary .widgettitle,
#wrapper .content-area #sidebar .widgettitle {
  font-size: 2em;
  margin-top: 1em;
}
#wrapper .content-area #secondary ul,
#wrapper .content-area #sidebar ul {
  margin: 1em 0 0.5em 0;
  text-align: left;
}
#wrapper .content-area #secondary #searchform,
#wrapper .content-area #sidebar #searchform {
  height: 70px;
  padding: 0px;
  margin-top: 8px;
  width: 50%;
}
#wrapper .content-area #secondary #searchform #s,
#wrapper .content-area #sidebar #searchform #s {
  border: none;
  color: #ffffff;
  float: left;
  line-height: 38px;
  height: 40px;
  margin: 4px 5px 0px 0px;
  width: 80%;
  padding-left: 2em;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  -moz-border-radius: 20px;
  /* Firefox */
  -webkit-border-radius: 20px;
  /* Safari and chrome */
  -khtml-border-radius: 20px;
  /* Linux browsers */
  border-radius: 20px;
  /* CSS3 */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* All browsers */

  behavior: url(../PIE.php);
}
#wrapper .content-area #secondary #searchform #searchsubmit,
#wrapper .content-area #sidebar #searchform #searchsubmit {
  border: none;
  height: 53px;
  margin: 0px;
  width: 53px;
  cursor: pointer;
}
#wrapper footer#footer {
  margin-top: 2em;
}
#wrapper footer#footer h2 {
  font-weight: normal;
  border-bottom: 2px solid #ffd700;
  display: inline;
}
#wrapper footer#footer #footer-logo {
  margin: 2em 0;
}
#wrapper footer#footer ul {
  margin: 0px;
  padding: 0px;
}
#wrapper footer#footer ul li {
  list-style: none;
  display: inline;
  background: url("images/icons.png") no-repeat;
  display: inline-block;
  height: 51px;
  text-indent: -9999px;
  padding: 0px 2px;
  width: 50px;
}
#wrapper footer#footer ul li a {
  height: 51px;
  text-indent: -9999px;
  padding: 0px 2px;
  width: 50px;
  display: block;
}
#wrapper footer#footer ul li.facebook {
  background-position: 0px 0px;
}
#wrapper footer#footer ul li.facebook:hover {
  background-position: 0px 0px;
}
#wrapper footer#footer ul li.twitter {
  background-position: -53px 0;
}
#wrapper footer#footer ul li.twitter:hover {
  background-position: -53px 0;
}
#wrapper footer#footer ul li.google {
  background-position: -100px 0;
}
#wrapper footer#footer ul li.google:hover {
  background-position: -100px 0;
}
@media only screen and (max-width: 1400px) {
  .inner #home-content {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  /*  MAKE LAYOUT RESPONSIVE at 768px FOR IPAD PORTRAIT ================================================================ */
  #home-content {
    width: 95%;
  }
}
@media only screen and (max-width: 480px) {
  /*  MAKE LAYOUT RESPONSIVE at 480px FOR IPHONE LANDSCAPE ============================================ */
  #home-content {
    width: 95%;
  }
  /*  GRID OF EIGHT TURNS INTO A GRID OF FOUR */
  .span_8_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_7_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_6_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_5_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_4_of_8 {
    width: 100%;
    margin-left: 0;
  }
  .span_3_of_8 {
    width: 74.2%;
    margin: 1% 0 1% 3.2%;
  }
  .span_2_of_8 {
    width: 48.4%;
    margin: 1% 0 1% 3.2%;
  }
  .span_1_of_8 {
    width: 22.6%;
    margin: 1% 0 1% 3.2%;
  }
  .span_1_of_8:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
  }
}
